.sidebar-container {
  flex: 1;
  height: 100%;
  padding: 0.5rem;
  overflow: scroll;
}

.sidebar-container__header {
  gap: 0.5rem;
  border-bottom: 2px solid #f0f0f0;
}

.sidebar-container__filter-category > button {
  color: gray;
  border: none;
  font-size: 0.8rem;
}

.sidebar-container__filter {
  width: 100%;
  gap: 0.5rem;
}

.filter-input__container {
  width: 70%;
}

.filter-input {
  width: 100%;
  height: 40px;
  padding: 1rem;
  border: 1px solid rgb(211, 208, 208);
  border-radius: 5px;
}

.filter-input::placeholder {
  text-align: center;
}

.filter-btn__container {
  width: 30%;
  align-self: flex-start;
}

.filter-btn__container > button {
  border-radius: 25px;
  border-color: blue;
}

.sidebar-container__filter-category {
  width: 100%;
  justify-content: space-between;
}

.sidebar-container__filter-category > button {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  line-height: 2rem;
}

.filter-button {
  width: 100%;
  padding: 1rem;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border-width: 1.2px;
  background-color: transparent;
  gap: 0.5rem;
  color: blue;
}

.MuiButton-root {
  border-radius: 8px;
}

.sidebar-container__main {
  position: relative;
  margin-top: 1rem;
  gap: 1rem;
}

.property-list {
  gap: 1.5rem;
  color: black;
  background-color: #efefef38;
}

.property-checkbox__all {
  text-align: left;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.property-checkbox {
  align-self: center;
}

.property-container {
  gap: 0.5rem;
  border-bottom: 1px solid #f0f0f0;
  box-shadow: 0px 11px 5px -2px rgba(240, 240, 240, 0.75);
  -webkit-box-shadow: 0px 11px 5px -2px rgba(240, 240, 240, 0.75);
  -moz-box-shadow: 0px 11px 5px -2px rgba(240, 240, 240, 0.75);
  padding-bottom: 0.5rem;
  border-radius: 5px;
}

.property-info {
  gap: 1rem;
  width: 100%;
}

.property-header {
  gap: 0.15rem;
}

.property-logo {
  width: 70px;
  height: 70px;
  background-color: yellow;
  border-radius: 5px;
}

.property-match {
  color: green;
  font-size: 0.6rem;
}

.property-room__info {
  font-size: 0.7rem;
}

.property-desc__container {
  justify-content: space-between;
  gap: 0.25rem;
  font-size: 0.8rem;
  text-align: left;
  width: 100%;
  padding: 0.1rem 0;
}

.property-container__footer {
  justify-content: space-between;
}

.property-ratings {
  font-size: 0.7rem;
  display: flex;
}

.property-ratings > span {
  font-size: 12px;
  color: black;
}

.property-review__count {
  font-size: 0.6rem !important;
  align-self: flex-start;
}

.property-remove {
  border: none;
  background-color: transparent;
  font-size: 0.6rem;
  color: blue;
  cursor: pointer;
  font-weight: 700;
}

.filter-bar {
  position: absolute;
  height: 100vh;
  width: 400px;
  background-color: #ededed;
  left: 33%;
  top: 0;
  z-index: 100;
  border: 1px solid #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

.selected-filter-category {
  border-bottom: 2px solid black;
  color: black !important;
  font-size: 0.8rem;
  font-weight: 700;
}

.fiter-btns {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
}

.filter-bar > section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
